/*TODO: Move to another component as its a bad practice to write here. Need to create module for header footer and body. */
// Due to shortage of time ,as of know i will be keeping this code here. But if time permits, I will move this code to the different modules

// Few things I have noticed, We can add add loader before api resolves the data.
<div class= "container">
  <div class="header">SpaceX Launch Programs</div>
  <div class="filter">
    <div class="grid-container">
      <div class="grid-item">
        <h4>Filters</h4>
        <p class="alignP">Launch Year</p>
        <hr>
        <span *ngFor="let year of launchYears">
          <button class="btn" (click)="filterLaunchProgramsByYears(year)" [ngClass]="{'active': isActiveYear === year}">{{year}}</button>
        </span>
        <p class="alignP">Successful Launch</p>
        <hr>
        <span *ngFor="let launch of launches">
          <button class="btn" (click)="filterLaunchProgramsByLaunch(launch)" [ngClass]="{'active': isActiveLaunch === launch}">{{launch}}</button>
        </span>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="grid-container">
      <div class="grid-item" *ngFor="let data of spaceLaunchPrograms">
          <img class="image" src="{{data.links.mission_patch_small}}"/>
        <h4 class="flightNum" >{{data.mission_name}}#{{data.flight_number}}</h4>
        <h5>Mission IDs:
          <ul *ngFor="let missionId of data.mission_id ">
            <li>{{missionId}}</li>
          </ul>
        </h5>
        <h5>Launch Year: {{data.launch_year}}</h5>
        <h5>Successful Launch: {{data.launch_success}}</h5>
      </div>
    </div>
  </div>
  <div class="footer">Developed by : {{authorName}}</div>
</div>

<router-outlet></router-outlet>
